img {
	border: 2px solid gray;
	padding: 5px;
	width: 60%;
}

div {
	border: 1px solid black;
	width: 200px;
	float: left;
	padding: 5px 10px;
	margin-right: 1.5em;
}

section {
	border: 1px solid black;
	margin-bottom: 1em;
	padding: 0.25em 1em;
}

.clearfix::before,
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
